.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, 'Inter', sans-serif);
  font-variation-settings: 'wght' var(--normal-font-weight);
  background-color: var(--main-color);
  color: var(--accent-color);
}
