:root.theme-light {
    --main-color: #ffffff;
    --accent-color: #000000;
    --bold-font-weight: 700;
    --normal-font-weight: 400;
    --backgriund-gradient:
            repeating-linear-gradient(to left, #d3d3d3 0 2px, #d3d3d300 2px 4px),
            repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
            linear-gradient(to bottom, #e7e7e7 .01%, #1a1a1a);
}

:root.theme-dark {
    --main-color:#000000;
    --accent-color: #00cc14;
    --bold-font-weight: 785;
    --normal-font-weight: 465;
    --backgriund-gradient:
            repeating-linear-gradient(to left, #000000 0 2px, #00000000 2px 4px),
            repeating-linear-gradient(to bottom, #000000 0 2px, #00000000 2px 4px),
            linear-gradient(to bottom, #007f0c, #004306);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color:#000000;
        --accent-color: #00cc14;
        --bold-font-weight: 785;
        --normal-font-weight: 465;
        --backgriund-gradient:
                repeating-linear-gradient(to left, #000000 0 2px, #00000000 2px 4px),
                repeating-linear-gradient(to bottom, #000000 0 2px, #00000000 2px 4px),
                linear-gradient(to bottom, #007f0c, #004306);
    }
}
