:root.theme-light {
    --main-color: #ffffff;
    --accent-color: #000000;
    --bold-font-weight: 700;
    --normal-font-weight: 400;
}

:root.theme-dark {
    --main-color:#000000;
    --accent-color: #00cc14;
    --bold-font-weight: 785;
    --normal-font-weight: 465;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color:#000000;
        --accent-color: #00cc14;
        --bold-font-weight: 785;
        --normal-font-weight: 465;
    }
}
