:root {
    --main-font-family: "Inter", sans-serif;
    --additional-font-family: "PressStart2P", fantasy;
    --normal-font-weight: 400;
    --bold-font-weight: 700;

    --main-color: #ffffff;
    --accent-color: #000000;
}
